<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum quis,
    tempora temporibus obcaecati quia, minima inventore nemo, enim soluta quas
    nobis magni quam magnam. Veritatis nobis at, quas impedit illo unde sint
    delectus ut rerum libero, temporibus esse! Ullam tempora magni harum
    impedit. Veritatis ratione commodi natus libero exercitationem in fuga illo
    accusantium optio tempora. Unde culpa debitis placeat iusto vero officia
    assumenda, repellendus ipsam hic impedit quasi nihil amet,
</p>
<p>
    veritatis fuga corporis voluptatem voluptas dolorem, saepe molestias quos
    asperiores? Reiciendis adipisci illo quae fugiat soluta sapiente, libero
    architecto reprehenderi t earum excepturi consequatur quam facere,
    voluptatem illum nemo enim eos minus unde quibusdam aperiam nam nisi ad
    rerum placeat? Ratione ex possimus optio ipsa eos debitis facere natus
    consectetur voluptatem.
</p>

<p>
    ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolorem
    excepturi blanditiis quis non voluptatum sapiente nisi, accusamus similique
    maiores aliquid nesciunt obcaecati illo quo sed ratione explicabo! Ea libero
    quibusdam at totam nihil labore nulla laboriosam quos. Harum, atque quas
    aliquam error dolores voluptatum.
</p>
<p>
    rem praesentium in modi debitis quibusdam iste saepe itaque iusto at vel
    ducimus eos assumenda iure blanditiis inventore architecto consequatur
    similique accusamus, asperiores beatae fugit dolorum. Repudiandae quaerat
    unde exercitationem pariatur minus amet, eveniet eos.
</p>
<p>
    sapiente hic aliquid explicabo corrupti, quod molestias laborum doloremque!
    Minus, provident quod in ducimus quam cum sapiente consectetur omnis
    asperiores sequi nostrum, tenetur dignissimos tempora molestiae corporis
    dolore nisi delectus ipsa aspernatur corrupti, accusamus minima iusto
    incidunt dolor? Ducimus nemo distinctio ut excepturi molestiae, quod vel
    dolores quos repellendus a! Voluptate, veniam adipisci repellendus harum
    corrupti consequatur excepturi quo facere blanditiis neque possimus qui
    ratione asperiores tempore quibusdam.
</p>

Post::create([ 'judul' => 'Judul Pertama', 'slug' => 'judul-pertama', 'excerpt'
=> 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic, sapiente?',
'body' => '
<p>
    ipsum dolor sit amet consectetur adipisicing elit. Mollitia, fugit quibusdam
    voluptatibus quis molestias rem harum ipsum debitis, consequatur veniam
    quas, inventore illo? Aut quasi dolorum soluta enim libero alias ipsum at
    repudiandae, ipsa pariatur possimus ab in nemo quo aspernatur tempora
    voluptatibus, nisi incidunt facere!
</p>
<p>
    perspiciatis ex aut corporis, nihil quas ut officiis distinctio nulla totam
    ad voluptas pariatur blanditiis voluptatum earum! Magni qui necessitatibus
    dicta nemo id cumque aliquid fuga quo autem quia. Dicta magni vero natus est
    a totam aperiam sed animi, hic non repellat, maiores quo numquam sapiente
    modi tempora alias velit quasi? Aliquid error eos inventore, suscipit illo
    ratione quis odit. Dolore ullam obcaecati, delectus accusamus voluptates
    numquam debitis quia cumque dicta, non voluptate!
</p>
' ])

<p>
    ipsum dolor sit amet consectetur adipisicing elit. Mollitia, fugit quibusdam
    voluptatibus quis molestias rem harum ipsum debitis, consequatur veniam
    quas, inventore illo? Aut quasi dolorum soluta enim libero alias ipsum at
    repudiandae, ipsa pariatur possimus ab in nemo quo aspernatur tempora
    voluptatibus, nisi incidunt facere!
</p>
<p>
    perspiciatis ex aut corporis, nihil quas ut officiis distinctio nulla totam
    ad voluptas pariatur blanditiis voluptatum earum! Magni qui necessitatibus
    dicta nemo id cumque aliquid fuga quo autem quia. Dicta magni vero natus est
    a totam aperiam sed animi, hic non repellat, maiores quo numquam sapiente
    modi tempora alias velit quasi? Aliquid error eos inventore, suscipit illo
    ratione quis odit. Dolore ullam obcaecati, delectus accusamus voluptates
    numquam debitis quia cumque dicta, non voluptate!
</p>
